{% extends 'main.html' %}


{% block content %}
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">Nuevo{{no_leidos|pluralize:"s"}} Mensaje{{no_leidos|pluralize:"s"}}(<span>{{no_leidos}}</span>)</h3>

      <ul class="messages">
        {% for mensaje in mensajes %}
        
        {% if mensaje.is_read == False %}
          <li class="message message--unread">
        {% else %}
            <li class="message">
        {% endif %}
          <a href="{% url 'message' mensaje.id %}">
            <span class="message__author">
            {%if mensaje.sender %} 
              {{mensaje.sender}}
            {% else %} 
              {{mensaje.name}} 
            {%endif%}
            </span>
            <span class="message__subject">{{mensaje.subject}}</span>
            <span class="message__date">{{mensaje.created}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
        
    </div>
  </main>
{% endblock %}