{% extends 'main.html' %}

{% block content %}
    
    {% if page == 'register' %}
        <h1>Register user</h1>
        <p>¿Already have an account?<a href="{% url 'login' %}">Log in</a></p>
    {% else %}
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <input type="text" name="username" placeholder="Add username" required>
            <input type="password" name="password" placeholder="Add password" required>
            <input type="submit" value="Login">

            <p>Don't have an account <a href="{% url 'register' %}">Sign Up</a></p>
        </form>
    {% endif %}
{% endblock content %}
    