{% extends 'main.html' %}   


{% block content %}
    <h1>Projects: {{count}}</h1>
    <p>This is a paragraph</p>
    <table>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Positive Votes</th>
            <th>Ratio</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
        
        {% for pro in projects %}
            <tr>
                <td>{{pro.title}}</td>
                {% if pro.description %}
                    <td>{{pro.description}}</td>
                {% else %}
                    <td>Empty description</td>
                {% endif %}
                <td>{{pro.vote_total}}</td>
                <td>{{pro.vote_ratio}}</td>
                <td>{{pro.created}}</td>
                <td>
                    <a href="{% url 'update_project' pro.id %}">Edit</a>
                    <a href="{% url 'delete_project' pro.id %}">Delete</a>
                    <a href="{% url 'project_object' pro.id %}">View</a>
                </td>
            </tr>
        {% endfor %}
            
    </table>        

{% endblock content %}
