{% extends 'main.html' %}


{% block content %}
    {% if projectObj.title %}
        <p>{{ projectObj.title }}</p>
    {% else %}
        <p>Empty Name</p>
    {% endif %}

    {% if projectObj.description %}
        <p>{{ projectObj.description }}</p>
    {% else %}
        <p>Empty description</p>
    {% endif %}
    
    <h3>Tags:</h3>  
    {% for tag in projectObj.tags.all %}
        <span style="border:1px solid #48e">{{tag}}</span>
    {% endfor %}
   
        

    <a href="{% url 'projects' %}">Regresar</a>
        
{% endblock content %}
    
